<p id="notice"><%= notice %></p>
<style><!-- ul{list-style-type:none;}--></style>
    <div class="row clearfix">
        <div class="people-list col-xl-3 col-lg-3 col-sm-3 col-md-3 col-xs-3" id="people-list">
          <div class="search">
            <input type="text" placeholder="Recherche" />
            <!-- i class="fa fa-search"></i -->
          </div>
          <ul class="list">

              <%for online in @users_online %>
            <li class="clearfix  ">
              <img src="<%= online[2] %>" alt="avatar"  width="50" height="50"/>
              <div class="about">
                <div class="name"><%= online[1] %></div>
                <div class="status">
                  <i class="fa fa-circle online"></i> En ligne
                </div>
              </div>
            </li>
              <%end %>

          </ul>
        </div>

        <div class="  col-xl-9 col-lg-9 col-sm-9 col-md-9 col-xs-9 chat">


          <div class="chat-header clearfix">
            <img src="/img/inconnu.png" width="80" height="80" alt="avatar" />

            <div class="chat-about">
              <div class="chat-with">Tchat public </div>
              <div class="chat-num-messages"><%= Time.now.strftime("%d-%m-%Y") %></div>
            </div>
            <i class="fa fa-star"></i>
          </div> <!-- end chat-header -->

          <div class="chat-history">
            <ul>

            </ul>

          </div> <!-- end chat-history -->

          <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder ="Taper votre message ici" rows="3"></textarea>

            <button>Envoyer</button>

          </div> <!-- end chat-message -->

        </div> <!-- end chat -->

      </div> <!-- end my-container -->

    <script id="message-template" type="text/x-handlebars-template">
      <li class="clearfix">
        <div class="message-data align-right">
          <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
          <span class="message-data-name" >Inconnu</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
          {{messageOutput}}
        </div>
      </li>
    </script>

    <script id="message-response-template" type="text/x-handlebars-template">
      <li>
        <div class="message-data">
          <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
          <span class="message-data-time">{{time}}, Today</span>
        </div>
        <div class="message my-message">
          {{response}}
        </div>
      </li>
    </script>
      <script src='/js/2.1.3-jquery.min.js'></script>
    <script src='/js/handlebars.min.js'></script>
    <script src='/js/list.min.js'></script>
    <script  src="_/js/index.js"></script>
