<p id="notice"><%= notice %></p>

<p>
  <strong>Annonce:</strong>
  <%= @annoncesmiseenavant.annonce %>
</p>

<%= link_to 'Edit', edit_annoncesmiseenavant_path(@annoncesmiseenavant) %> |
<%= link_to 'Back', annoncesmiseenavants_path %>
