@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=New+Digital');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family:arial;
  /*background-image: url(/../img/containerBg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.2);*/
 }

.container{margin-bottom:-17px; padding-bottom:0px;}
.allFormPages{
	margin-bottom:-2px;
	padding-bottom:-2px;
	background:linear-gradient(50deg, rgba(228,77, 33,0.7), rgba(246,158,9,0.7) 50%, rgba(228,77,32,0.7));
	color:rgb(255,255,255);
	text-shadow: 2px 2px 4px rgb(0,0,0);

}
.allFormPages a{
	color:white;
	text-decoration:none;
}
.allFormPages a:hover,.allFormPages a:focus{
	color:white;
	text-decoration:none;
	font-weight:bold;
}
#navFormInput-Search:focus,
#navFormInput-Localisation:focus,
#navFormInput-Search:hover,
#navFormInput-Localisation:hover{border:0px;}

#navFormInput-Search {
	background-color:rgba(0,0,0,0.2);
	border:0px;
/*
    background-image: url('./../img/navFormInput-Search.png');
    background-position: 90% 10px;
    background-repeat: no-repeat;
    padding-right: 10px !important;
	background-size:20px 20px;
*/
	text-align:left !important;

	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;

	color:rgb(255,255,255);

	width:200px;
}
#navFormInput-Localisation {
	background-color:rgba(0,0,0,0.2);
	border:0px;
    background-image: url('./../img/navFormInput-Localisation.png');
    background-position: 15px 50%;
    background-repeat: no-repeat;
    padding-left: 50px !important;
	background-size:20px 20px;
	color:rgb(255,255,255);
}


select[id="navFormInput-Localisation"] {
	background-color:rgba(0,0,0,0.2);
	border:0px;
    padding-left: 50px !important;
	color:rgb(255,255,255);
	size:500px;
}


#navFormInput-Submit{

background-image: url('./../img/navFormInput-Search.png');
background-position: center;
background-repeat: no-repeat;
text-align:center !important;
background-size:20px 20px;
width:50px;

-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-topright: 20px;
-moz-border-radius-bottomright: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;

-webkit-border-top-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-topleft: 0px;
-moz-border-radius-bottomleft: 0px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;

font-weight:bold;
}

#homePageLoginForm-email{
	/*background-color:rgba(0,0,0,0.2);
	border:0px;
    background-image: url('./../img/homePageLoginForm-email.png');
    background-position: 90% 10px;
    background-repeat: no-repeat;
    padding-right: 50px !important;
	background-size:20px 15px;

	color:rgb(255,255,255);*/
border-bottom: 1px solid #e5e5e5;
border-top: 1px solid #e5e5e5;
border-right: 1px solid #e5e5e5;

-webkit-border-top-right-radius: 1px;
-webkit-border-bottom-right-radius: 1px;
-moz-border-radius-topright: 1px;
-moz-border-radius-bottomright: 1px;
border-top-right-radius: 1px;
border-bottom-right-radius: 1px;

-webkit-border-top-left-radius: 1px;
-webkit-border-bottom-left-radius: 1px;
-moz-border-radius-topleft: 1px;
-moz-border-radius-bottomleft: 1px;
border-top-left-radius: 1px;
border-bottom-left-radius: 1px;

}

#homePageLoginForm-password{
	/*background-color:rgba(0,0,0,0.2);
	border:0px;
    background-image: url('./../img/homePageLoginForm-password.png');
    background-position: 90% 10px;
    background-repeat: no-repeat;
    padding-right: 50px !important;
	background-size:20px 15px;

	color:rgb(255,255,255);*/
border-bottom: 1px solid #e5e5e5;
border-top: 1px solid #e5e5e5;
border-right: 1px solid #e5e5e5;

-webkit-border-top-right-radius: 1px;
-webkit-border-bottom-right-radius: 1px;
-moz-border-radius-topright: 1px;
-moz-border-radius-bottomright: 1px;
border-top-right-radius: 1px;
border-bottom-right-radius: 1px;

-webkit-border-top-left-radius: 1px;
-webkit-border-bottom-left-radius: 1px;
-moz-border-radius-topleft: 1px;
-moz-border-radius-bottomleft: 1px;
border-top-left-radius: 1px;
border-bottom-left-radius: 1px;

}


#navFormInput-Search.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
#navFormInput-Search.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
#navFormInput-Search.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
#navFormInput-Search.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
#navFormInput-Search.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */


#navFormInput-Localisation.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
#navFormInput-Localisation.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
#navFormInput-Localisation.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
#navFormInput-Localisation.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
#navFormInput-Localisation.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */



.positionSelecte{ width:245px;
 position: absolute;
 list-style-type:none;
 padding:0px;
 margin:0px;
 display:none;
 background-color:white;
 padding:10px;
 border: solid 2px rgba(0,0,0,0.2);
 background-color:rgba(0,0,0,0.9);
 color:white;
 font-weight:bold;
 z-index:99999;
 }

.positionSelecte li{ cursor:pointer;}
.positionSelecte li:hover,.positionSelecte li:focus{
        cursor:pointer;
		text-shadow: 2px 2px 4px rgb(228,77, 33);
}

.navbar-light .navbar-nav .nav-link{color:rgb(255,255,255); }

.navbar .navbar-nav > li.dropdown:hover > a,
.navbar .navbar-nav > li.dropdown:hover > a:hover,
.navbar .navbar-nav > li.dropdown:hover > a:focus {

	margin-top:0px;
	font-weight:600;
	transition: all 0.2s ease;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
	background-color: rgb(255, 255, 255);
	font-weight:600;
}

.navbar .navbar-nav>li>a,.navbar .navbar-nav > li.dropdown > .dropdown-menu > a{
  	font-weight:600;
		transition: all 0.2s ease;
}
.navbar .navbar-nav > li.dropdown > .dropdown-menu{
    padding-top:0px;
	margin-top:0px;
	border:0px;
}


.arrow_box {
	position: relative;
	background: #fffff;
	border: 4px solid #ffffff;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 70%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #fffff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}

a.dropdown-item:hover{

  background-color:rgba(228,77,33,0.5);

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:90000;
}

.sticky + .container-fluid {
  padding-top: 102px;
}

/**************************************** carousel ****************************************/

.carousel-indicators > li {
  border-radius: 50%;
  color:white;
  background-color:transparent;
  width:10px;
  border:solid 5px rgb(255,255 ,255);
  cursor:pointer;
}

.carousel-indicators > li.active {
  font-size:50px;
  color:rgba(132,132,132,0.5);
  border:outset 5px rgb(132,132,132);
}

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

/***************************************** ********************************/

.getApp{
	color:rgb(255,255,255);
	background:-webkit-linear-gradient(90deg, RGB(228, 77 , 32), RGB(228, 77 , 32), RGB(252, 184 , 1));
	background:-moz-linear-gradient(90deg, RGB(228, 77 , 32), RGB(228, 77 , 32) 50%, RGB(252, 184 , 1));
	background:linear-gradient(90deg, RGB(228, 77 , 32), RGB(228, 77 , 32) 50%, RGB(252, 184 , 1));
}

.footer{
	height:170px;
    color:rgb(255,255,255);
  	background:-webkit-linear-gradient(90deg, RGB(228, 77 , 32), RGB(228, 77 , 32), RGB(252, 184 , 1));
	background:-moz-linear-gradient(90deg, RGB(228, 77 , 32), RGB(228, 77 , 32) 50%, RGB(252, 184 , 1));
	background:linear-gradient(90deg, RGB(228, 77 , 32), RGB(228, 77 , 32) 50%, RGB(252, 184 , 1));
}
.footer .row{
	height:100%;
}

.footer hr{
	background-color:rgb(255,255,255);
	padding:0px;
	margin:0px;
}
.footer-social i {
	background-color:none; width:0px; color:white;
	background:transparent;
}
.pagination .page-item .page-link{
	border-radius:50%;
	color:RGB(40, 167 , 69);
	border: solid 1px RGB(40, 167 , 69);
	margin-left:5px;
	margin-right:5px;
}
.pagination .page-item .page-link.active{
	_background-color:RGB(40, 167 ,69);
	background:transparent;
	color:white;
}



.card-header {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.card-body{
	background:rgba(255,255,255,0.5) !important;
	color:black;
}
#annonce_photo1,#annonce_photo2,#annonce_photo3,#annonce_photo4,#annonce_photo5,#annonce_photo6{
	color:rgb(255,255,255);
	background:-webkit-linear-gradient(90deg, RGBA(228, 77 , 32,0.5), RGBA(228, 77 , 32,0.5), RGBA(252, 184 , 1,0.5));
	background:-moz-linear-gradient(90deg, RGBA(228, 77 , 32,0.5), RGBA(228, 77 , 32,0.5) 50%, RGB(252, 184 , 1,0.5));
	background:linear-gradient(90deg, RGBA(228, 77 , 32,0.5), RGBA(228, 77 , 32,0.5) 50%, RGBA(252, 184 , 1,0.5));

	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

  input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
	  display:none; /*<- Crashes chrome on hover */
	  -webkit-appearance:none;
	  margin:0;/*<-- Apparently some margin are still there even though it'is hidden -->*/
  }

  input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{
	  display:none; /*<- Crashes chrome on hover */
	  -webkit-appearance:none;
	  margin:0;/*<-- Apparently some margin are still there even though it'is hidden -->*/
  }
  input[type="number"]{
	  -moz-appearance:textfield;
  }

	.card-body-icon {
	  position: absolute;
	  z-index: 0;
	  top: -15px;
	  right: -5px;
	  font-size: 5rem;
	  -webkit-transform: rotate(10deg);
	  -ms-transform: rotate(10deg);
	  transform: rotate(10deg);
    color: rgba(255,255,255,0.5);
		text-shadow: 0px 0px 0px ;
	}
	.card-body-icon .fa-user{
	  position: absolute;
	  z-index: 0;
	  top: -10px;
	  right: -39px;
	  font-size: 7rem;
	}
	,.card-body-icon .fa-lock {
	  position: absolute;
	  z-index: 0;
	  top: -10px;
	  right: -39px;
	  font-size: 6rem;
	}



	.message {
	    border: 2px solid #dedede;
	    background-color: #f1f1f1;
	    border-radius: 5px;
	    padding: 10px;
	    margin: 10px 0;
	}

	.darkerbg {
	    border-color: #ccc;
	    background-color: #ddd;
	}

	.message::after {
	    content: "";
	    clear: both;
	    display: table;
	}

	.message img {
	    float: left;
	    max-width: 60px;
	    width: 100%;
	    margin-right: 20px;
	    border-radius: 50%;
	}

	.message img.right {
	    float: right;
	    margin-left: 20px;
	    margin-right:0;
	}

	.time-right {
	    float: right;
	    color: #aaa;
	}

	.time-left {
	    float: left;
	    color: #999;
	}

.image-upload>input {
  display: none;
}

.upload-icon {
  width: 100px;
  height: 97px;
  border: 2px solid #5642BE;
  border-style: dotted;
  border-radius: 18px;
  float: left;
}

.upload-icon .icon {
  width: 60px;
  height: 60px;
  margin: 19px;
  cursor: pointer;
}

.prev {
  display: none;
  width: 95px;
  height: 92px;
  margin: 2px;
  border-radius: 15px;
}



.people-list {
  width: 260px;
  float: left;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: 770px;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}

.chat {
  width: 490px;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


/* div.header{ */
	/* font-family:arial; */
    /* background-image: url(/../img/header_bg.jpg); */
	/* background-position: center; */
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	/* background-color: rgba(0, 0, 0, 0.2); */
/* } */

div.header #homeBody a{
	color:rgb(228,77,33);
	-webkit-transition: 1s; /* Safari */transition: 1s;
}

div.header #homeBody a:focus,div.header #homeBody a:hover{
	color:rgb(246,158,9);
    -webkit-transition: 1s; /* Safari */transition: 1s;
}

.accueil div.card{
	border:0px !important;

	min-height:100px;
	-webkit-transition: 2s; /* Safari */transition: 2s;
}

.accueil div.card:focus,.accueil div.card:hover{
	border:0px !important;
}
.accueil div.card-body{
	*/background:none !important;
	color:rgb(228,77, 33) !important;
}

/* .accueil div.card-body .row {	height:100px;} */
.accueil div.card-footer{
	background:none;
	border:0px !important;
}
/*
.immobilier{background-image:url(/../img/immobilier.png); background-repeat:no-repeat; background-position:center; background-size:200px 200px;}
.rencontre{background-image:url(/../img/rencontre.png); background-repeat:no-repeat;  background-position:center; background-size:200px 200px;}
.actualite{background-image:url(/../img/actualite.png); background-repeat:no-repeat;  background-position:center; background-size:200px 200px;}
*/
.footer_form{
	color:white;
	background:rgb(255,255,255);
/*	background:linear-gradient(90deg, RGB(228, 77 , 32), RGB(228, 77 , 32) 50%, RGB(252, 184 , 1));*/
}
.modal{z-index:99999;}


.sign_in_and_sign_up__header_title{
	height: 150px;
	color:white;
	font-weight: bold;
	font-family: Acme;
	background-image:url(/../img/sign_in_and_sign_up__header_title_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/******************************** HTML SELECT ARROW CUSTOM ***********************************/


select{
	-moz-appearance: window;
	 -webkit-appearance: none;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 244px;
}
select::-ms-expand {
    display: none;
}


.NewannonceSubmitBtn{

}

.NewannonceSubmitBtn {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px;
	padding-left: :0px;
	padding-right:0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	width:100%;

}
.NewannonceSubmitBtn:hover {
	background-color:#eb675e;
}
.NewannonceSubmitBtn:active {
	position:relative;
	top:1px;
}

.blink_me {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 10s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}