<% for message in @messages %>
	<% if message.user_id.nil? %>
		<div class="message darkerbg">
		    <img src="/img/inconnu.png" alt="Avatar" style="width:100%;">
	<%else%>
		<div class="message" >
		    <!-- img src="/uploads/" alt="Avatar" class="right" style="width:100%;" -->
	<%end%>
			<p><%=raw(message.message)%></p>
			<span class="time-left"><i><%=raw(message.created_at)%></i></span>
			<span style="float:right, display:none;">
			    <i>
					<a href="#" data-toggle="tooltip" data-placement="bottom" title="Repondre">Repondre</a>
					&nbsp;
					<a href="#" data-toggle="tooltip" data-placement="bottom" title="Marquer comme lu">Lu</a>
					&nbsp;
					<a href="#"  data-toggle="tooltip" data-placement="bottom" title="Marquer comme non lu">Non lu</a>
				</i>
			</span>
		</div>
<%end%>
