<div class="row">

		<div class="col-md-12 order-md-1">
          <h4 class="mb-3">Billing address</h4>
          <form action="change_password" class="needs-validation" novalidate>

      <div class="mb-3">
        <label for="username">Mot de passe</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-fw fa-lock"></i></span>
          </div>
          <input type="text" class="form-control" id="username" placeholder="Mot de passe" name="password" required>
          <div class="invalid-feedback" style="width: 100%;">
            Votre mot de passe est requit
          </div>
        </div>
      </div>


      <div class="mb-3">
        <label for="username">Confirmation du mot de passe</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-fw fa-lock"></i></span>
          </div>
          <input type="text" class="form-control" id="username" placeholder="Confirmation du mot de passe"  name="confirm_password" required>
          <div class="invalid-feedback" style="width: 100%;">
            Veuillez vonfirmer votre mot de passe
          </div>
        </div>
      </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Changer mon mot de passe</button>
          </form>
        </div>
      </div>
