<div class="container mt-2 mb-2">
  <div class="row">
    <div class="col-md-4 order-md-1 mb-4">
      <ul class="list-group mb-3">
        <a href="" target="" style="width: 100% !important;">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0 font-weight-bold">Inscrits</h6>
            <small class="text-muted">Total inscrit</small>
          </div>
          <span class="text-muted">12</span>
        </li>
      </a>
        <a href="#"  method="homecontent" >
        <li class="list-group-item d-flex justify-content-between lh-condensed">

              <div>
                <h6 class="my-0 font-weight-bold">Annonces</h6>
                <small class="text-muted">Total annonces</small>
              </div>
              <span class="text-muted">8</span>

        </li>
        </a>
      </ul>

    </div>
    <div class="col-md-8 order-md-2">
          <span id="homeContent"></span>
    </div>
</div>