
    <li>
          <div class="message-data">
            <span class="message-data-name"><%= session[:tchater] %></span>
            <span class="message-data-time"><%=message.created_at%></span>
          </div>
          <div class="message my-message">
            <%=message.message%>
          </div>
    </li>
