<div class="container">
  <div class="row">
    <div class="col-md-8 text-justify">
      <% if !@cgu.content.blank? %>
            <%=raw(@cgu.content)%>
      <%end%>
    </div>
    <div class="card card-light">

    </div>
  </div>

</div>
