<div class="container">
  <div class="row">
    <div class="col-md-8 text-justify">
      <% if !@commentcamarche.content.blank? %>
            <%=raw(@commentcamarche.content)%>
      <%end%>
    </div>

    <div class="card card-light">

    </div>
  </div>

</div>
<br>
