<style>label{font-weight:bold;} p{font-size:20px;}</style>
<div class="container-fluid jumbotron" style="margin-bottom:-3px; padding-bottom:-3px; background:linear-gradient(50deg, rgb(228,77, 33), rgb(246,158,9) 50%, rgb(228,77,32)); color:rgb(255,255,255); opacity:0.9;">	


<div class="row">	
	<div class="col-md-12 text-center" >
		<h1 style="font-size:50px; font-weight:bold;" >Votre mail a bien été envoyé.</h1>
		<hr style="width:200px; border:solid 3px red;  " />
		<p>Nous sommes là pour vous aider !<br/>T’chat, email, réseaux sociaux, téléphone…<br/> Contactez-nous à tout moment, nous vous répondrons avec plaisir.</p>
	</div>
</div>

</div>