<style>label{font-weight:bold;} p{font-size:20px;}</style>
<div class="container-fluid jumbotron" style="margin-bottom:-3px; padding-bottom:-3px; background:linear-gradient(50deg, rgb(228,77, 33), rgb(246,158,9) 50%, rgb(228,77,32)); color:rgb(255,255,255); opacity:0.9;">


	<form  class="needs-validation"  class="new_contact" id="new_contact" action="<%= contacts_path %>" accept-charset="UTF-8" method="post" novalidate>
	<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
	  <input name="utf8" type="hidden" value="&#x2713;" />
<div class="row">
		<div class="col-md-12 text-center" >
		    <h1 style="font-size:50px; font-weight:bold;" >Nous sommes à votre écoute</h1>
			<hr style="width:200px; border:solid 3px red;  " />
			<p>Nous sommes là pour vous aider !<br/>T’chat, email, réseaux sociaux, téléphone…<br/> Contactez-nous à tout moment, nous vous répondrons avec plaisir.</p>
		</div>
    <div class="col-md-6">
		  <div class="form-row">
			<div class="col-md-12 mb-3">
			  <label for="validationTooltip05">Nom</label>
			  <input name="contact[nom]" type="text" class="form-control" id="validationTooltip05" placeholder="Votre nom complet" required>
			  <!--div class="valid-tooltip">
				Veuillez entre votre nom!
			  </div-->
			</div>
		  </div>
		  <div class="form-row">
			<div class="col-md-12 mb-3">
			  <label for="validationTooltip05">Prénom</label>
			  <input name="contact[prenom]" type="text" class="form-control" id="validationTooltip05" placeholder="Votre prénom" required>

			</div>
		  </div>
		  <div class="form-row">
			<div class="col-md-12 mb-3">
			  <label for="validationTooltip05">Sujet</label>
			  <input name="contact[sujet]" type="text" class="form-control" id="validationTooltip05" placeholder="Quel est le motif de votre message" required>

			</div>
		  </div>
	</div>
    <div class="col-md-6">
			<div class="h-100" style="padding-bottom:5px;">
			  <style><!-- textarea{height:84% !important;}--></style>
			  <label for="validationTooltip05">Message</label>
			  <textarea name="contact[message]" type="text" class="form-control" id="validationTooltip05" placeholder="Votre nom complet "  required></textarea>

			</div>
    </div>

</div>
<br/><br/>
<center>
    <input  class="btn btn-block jumbotronButton btn btn-warning" type="submit" name="commit"  value="Envoyer" />
</center>
</form>
<br/>
</div>
