<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.hidden_field field.attribute %>
  <%= f.select field.attribute, [["Choisissez une sous catégorie",""],"Appartement","Maison","Chambre","Villa","Magasin","Immeuble","Terrain"], {}, {:class => 'form-control', required: true} %>
</div>
