<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.hidden_field field.attribute %>
  <%= f.select field.attribute, [[ "Minimum",""],"0 Mois ","1 Mois ","2 Mois ","3 Mois ","4 Mois ","5 Mois ","6 Mois ","7 Mois ","8 Mois ","9 Mois ","10 Mois ","11 Mois ","1 An " ,"2 Ans " ], {}, {:class => 'form-control', required: true} %>
</div>
