<!-- The Modal -->
<div class="modal fade" id="monModal" style="z-index:99999;" >
  <div class="modal-dialog modal-lg" style="width:100% !important;">
    <div class="modal-content" style="width:100% !important;" >
      <!-- Modal Header -->
      <div class="modal-header">
	       <h2 class="modal-title" style="color:black !important;" >Changer de pays </h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row"  >
            <div class="col-md-3 ml-auto  mr-auto" >
            <a class="list-group-item text-dark mt-0 mb-0 p-0 " style="background:none !important;" onclick="setpaystrie($(this).data('val'))"   href="#" data-val=" "><i class="fa fa-globe" style="margin-right: 10px;"></i> Tous les pays </a><br/>
           
            <a class="list-group-item text-dark mt-0 mb-0 p-0 " style="background:none !important;" onclick="setpaystrie($(this).data('val'))"   href="#" data-val="BJ"><i class="flagstrap-icon flagstrap-bj" style="margin-right: 10px;"></i>Benin</a><br/>
          
            <a class="list-group-item text-dark mt-0 mb-0 p-0 " style="background:none !important;" onclick="setpaystrie($(this).data('val'))"   href="#" data-val="TG"><i class="flagstrap-icon flagstrap-tg" style="margin-right: 10px;"></i>Togo</a><br/>
			
             <a class="list-group-item text-dark mt-0 mb-0 p-0 " style="background:none !important;" onclick="setpaystrie($(this).data('val'))"   href="#" data-val="GH"><i class="flagstrap-icon flagstrap-gh" style="margin-right: 10px;"></i>Ghana</a><br/>             
          </div>
        </div>



      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>
