<div class="row  mb-0 header" style="<%=@homepageHeadercover%>" >
	<div class="col-sm-12" style="border:solid 0px; height:500px; !important;"  style="background-color:rgba(0,0,0,0.9) !importrant;">
<div class="row h-100 mt-0 mb-0">
	<div class="col-sm-12 my-auto ml-auto mr-auto text-white text-center" style="text-shadow:1px 2px 3px #444444;">
		<h1 style="font-family:'Acme'; font-size:5vw;" class="font-weight-bold" >ETINSEL</h1>
	 <p style="font-size:2.5vw;" class="font-weight-bold " >Trouvez des logements,
			rencontrez des personnes sérieuses,<br> suivez l'actualité.</p>
   <p style="font-size:2vw;" class="font-weight-bold text-brown" >C'est completement gratuit. Profitez!</p>
	</div>

</div>

	</div>

	<div class="ml-auto mr-auto" id="homeBody" >
		<a href="#" >
			<h1 style="padding-left:50px; padding-right:50px; margin-bottom:10px;">
				<div class="ml-auto mr-auto" style="padding-bottom:-20px; margin-bottom:-20px;" ><i class="fa fa-chevron-down"></i></div>
				<div class="ml-auto mr-auto"><i class="fa fa-chevron-down" ></i></div>
			</h1>
		</a>
	</div>
	<a name="icon_boxes"></a>
</div>
