<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select field.attribute, ["Propriétaire","Agence immobilière","Démarcheur","Annonceur","Particulier"], {}, {:class => 'form-control', required: true} %>
  <%#= f.text_field field.attribute %>
</div>
